*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# build intermediate files
/app/src/main/libs
/app/src/main/obj

# local setting
/app/src/main/assets/egsnsplugin.properties